html{
    background-image: url("foodbg.jpg");
    height: 100% auto;
}

h1 {
    border: 4px solid;
    text-align: center;
    font-weight: bold;
    background-image: url("cheese.jpg");
}

h2{
    text-align:center;
    font-weight: bold;
    border: 2px solid;
    background-image: url("banner.jpg");
    font-family: 'Lucida Sans';
}

#left {
    border: 3px solid;
    background-image: url("cheese.jpg");
    width: 745px;
	height: 445px;
    float: left;
}

#right {
    border: 3px solid;
    background-image: url("cheese.jpg");
    width: 745px;
	height: 235px;
    float: right;
}

h3 {
    text-align: justify;
    font-weight: bold;
    font-family: 'Lucida Sans';
}